html, body {
    padding: 0px;
    margin: 0px;
    user-select: none;
    font-family: "Open Sans";
    font-weight: 600;
    background-color: #e4e4e4;
}

.page-icon {

}

.header {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}