html, body {
    padding: 0px;
    margin: 0px;
    user-select: none;
    font-family: "Open Sans";
    font-weight: 600;
    background-color: #d8d8d8;
}

.page-icon {
    width: 80px;
    height: 80px;
    margin-left: 20px;
    cursor: pointer;
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    height: 95px;
    width: 100%;
    background-color: rgba(202, 202, 0, 0.85);
    z-index: 100000;
}

.sub-header-tab {
    margin: 10px;
    color: white;
    font-weight: 900;
    letter-spacing: 1;
    cursor: pointer;
    transition: all .4s;
}

.sub-header-tab:hover {
    color: #d8d8d8;
    font-size: 18px;
}

.sub-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(202, 202, 0, 0.55);
    height: 45px;
    width: 100%;
    z-index: 100000;
}

.page-title {
    font-size: 36px;
    color: white;
    font-weight: 900;
}

.main {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.blink {
    animation: blink .75s ease-in-out;
}

#bg-image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../assets/bg-image-4.png");
}

.gradient-background {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(0deg, rgb(218, 218, .8) 0%, rgb(218, 218, .4) 2%, rgba(0, 0, 0, 0) 60%);
}

.main-icon {
    position: relative;
    width: 250px;
    height: 250px;
}

.main-title {
    position: relative;
    font-size: 36px;
    color: white;
    font-weight: 900;
}

.sub-text {
    position: relative;
    font-weight: 500;
    margin-top: -10px;
    font-size: 12px;
    color: white;
}