html, body {
    padding: 0px;
    margin: 0px;
    user-select: none;
    font-family: "Open Sans";
    font-weight: 600;
    background-color: #d8d8d8;
}

.page-icon {
    width: 80px;
    height: 80px;
    margin-left: 20px;
    cursor: pointer;
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    height: 95px;
    width: 100%;
    background-color: rgba(143, 172, 169, 0.85);
    z-index: 100000;
}

.page-title {
    font-size: 36px;
    color: white;
    font-weight: 900;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.blink {
    animation: blink .75s ease-in-out;
}

#bg-image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../assets/bg-image-4.png");
}

.sub-header-tab {
    margin: 10px;
    color: white;
    font-weight: 900;
    letter-spacing: 1;
    cursor: pointer;
    transition: all .4s;
}

.sub-header-tab:hover {
    color: #d8d8d8;
    font-size: 18px;
}

.sub-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(177, 199, 193, 0.55);
    height: 45px;
    width: 100%;
    z-index: 100000;
}

#main {
    position: absolute;
    top: 140px;
    left: 0px;
    width: 100%;
    height: calc(100% - 160px);
    overflow: hidden;
    overflow-y: scroll;
}

.user-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* width: calc(100% - 40px); */
    margin-top: 10px;
    margin-bottom: 10px;
    height: 120px;
    overflow: hidden;
    padding: 5px;
    border-radius: 12px;
    font-weight: 900;
    color: white;
    background-color: rgb(108, 131, 129);
}

.group-cell {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: calc(100% - 400px);
    background-color: rgba(169, 201, 197, 0.8);
    border: 6px solid rgb(108, 131, 129);
    border-radius: 12px;
}

.cell-title {
    position: relative;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    background-color: rgb(108, 131, 129);
    height: 40px;
    width: 100%;
}