html, body {
    padding: 0px;
    margin: 0px;
    user-select: none;
    font-family: "Open Sans";
    font-weight: 600;
    background-color: #d8d8d8;
}

.page-icon {
    width: 80px;
    height: 80px;
    margin-left: 20px;
    cursor: pointer;
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    height: 95px;
    width: 100%;
    background-color: rgba(143, 172, 169, 0.85);
    z-index: 100000;
}

.page-title {
    font-size: 36px;
    color: white;
    font-weight: 900;
}