html, body {
    padding: 0px;
    margin: 0px;
    user-select: none;
    font-family: "Open Sans";
    font-weight: 600;
    background-color: #d8d8d8;
}

input, button {
    font-family: "Open Sans";
}

.page-icon {
    width: 80px;
    height: 80px;
    margin-left: 20px;
    cursor: pointer;
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    height: 95px;
    width: 100%;
    background-color: rgba(143, 172, 169, 0.85);
    z-index: 100000;
}

.page-title {
    font-size: 36px;
    color: white;
    font-weight: 900;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.blink {
    animation: blink .75s ease-in-out;
}

#bg-image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../assets/bg-image-4.png");
}

.main {
    position: absolute;
    top: 95px;
    left: 0px;
    width: 100%;
    height: calc(100% - 115px);
    overflow: hidden;
    overflow-y: scroll;
}

#useless-data {
    top: 320px;
    height: 96px;
}

#stats-holder {
    top: 210px;
    height: 96px;
}

#generate-access-token {
    top: 760px;
    height: 96px;
    display: none;
}

#username-controls {
    top: 650px;
    height: 96px;
}

#access-controls {
    top: 540px;
    height: 96px;
}

#access-data {
    top: 430px;
    height: 96px;
}

.group-cell {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
}

.stat-cell {
    padding: 10px;
    height: 60px;
    width: calc(33% - 15px);
    background-color: rgb(143, 172, 169);
    border: solid;
    border-width: 8px;
    border-color: rgb(117, 141, 139);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.stat-cell-100 {
    width: calc(100% - 36px);
}

.stat-cell-50 {
    width: calc(50% - 30px);
}

#name-holder {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    top: 20px;
    left: 50%;
    height: 140px;
    transform: translateX(-50%);
    background-color: rgb(143, 172, 169);
    border: solid;
    border-width: 8px;
    border-color: rgb(117, 141, 139);
    border-radius: 12px;
}

#pfp {
    border-radius: 100%;
}

#name {
    font-size: 36px;
    font-weight: 900;
    margin-left: 15px;
}

#pfp-title {
    font-size: 14px;
    margin-top: -5px;
    font-weight: 700;
    margin-left: 15px;
    color: rgb(76, 76, 76);
}

.stat-title {
    font-size: 32px;
    font-weight: 900;
    text-decoration: underline;
}

.stat {
    font-weight: 900;
    font-size: 16px;
}

#admen-controls {
    display: none;
}

.stat-cell-green {
    color: white;
    background-color: rgb(101, 225, 101);
    border-color: rgb(69, 156, 69);
    cursor: pointer;
}

.stat-cell-green:hover {
    background-color: rgb(91, 204, 91);
}

.stat-cell-red {
    color: white;
    background-color: rgb(246, 92, 92);
    border-color: rgb(177, 66, 66);
    cursor: pointer;
}

.stat-cell-red:hover {
    background-color: rgb(221, 82, 82);
}

#darkFadeTransition {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100000000;
    pointer-events: none;
    transition: .4s;
    opacity: 1;
    background-color: rgb(0, 0, 0, .8);
}

#token-generation {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}